/*RedUnix CSS*/

*
{
	margin: 0;
	padding: 0;
}
body, html
{
	width: 100%;
	height: 100%;
	background-color: white;
	font-family: Arial,Verdana;
	font-size: 11px;
	font-color: #000000;
}

img
{
    border: none;
}

div.menuBlock
{
	display: none;
}

div#main
{
	height: auto;
	border-top: 5px solid #910020;
}

div#container
{
	width: 100%;
	float: middle;
}
div#left
{
	width: 260px;
	height: auto;
	float: left;
	border: solid 1px white;
}
div#right
{
	width: 890px;
	height: auto;
	float: left;
	overflow: hidden;
}
div#wide
{
	width: 890px;
	height: auto;
	float: middle;
	overflow: hidden;
	margin-left: 260px;
	margin-right: auto;
}
div#menu
{
	height: 65px;
	width: 100%;
	overflow: hidden;
}

div#menu_right
{
    margin-right: -20px;
	height: 65px;
	width: 670px;
	float: right;
}
div#menu_right TABLE,
div#menu_right TD
{
	vertical-align: top;
	height: 65px;
}

div#menu_left
{
	margin-top: 10px;
	height: 65px;
	width: 200px;
	float: left;
}
div#menu_right A,
div#menu_left  A
{
    margin-left  : 5px;
    margin-right : 5px;
}
div#logo_contact
{
	background-image: url(http://www.redunix.nl/img/logo.jpg);
	background-repeat: no-repeat;
	width: 100%;
	height: 225px;
	overflow: hidden;
}
div#affilate
{
	background-image: url(http://www.redunix.nl/img/affl.jpg);
	height: 150px;
	width: 100%;
	overflow: hidden;
}
div#actie
{
	height: 230px;
	overflow: hidden;
	width: 100%;
	background-color: white;
	background-image: url(http://www.redunix.nl/img/gradient_full.jpg);
	background-repeat: repeat-x;
}

div.question
{
	overflow: hidden;
	width: 100%;
	background-color: white;
	background-image: url(http://www.redunix.nl/img/gradient_fill_tiny.jpg);
	background-repeat: repeat-x;
}

table#landing td.top
{
	font-weight: bold;
	text-align : left;
	font-size  : 12px;
	height     : 80px;
}

table#landing td
{
	margin     : 0px;
	padding    : 0px;
}
table#landing td#extra
{
	height     : 86px;
	background-image: url(http://www.redunix.nl/landing/img/extra_info.jpg);
	background-repeat: no-repeat;
}

table#landing td#body div
{
        background-image: url(http://www.redunix.nl/img/gradient_900.jpg);
        background-repeat: repeat-x;
	width: 900px;
	height: 270px;
	padding-left: 40px;
	padding-top : 8px;
}

div#header
{
	width: 100%;
	height: 219px;
    margin-left: -1px;
	overflow: hidden;
	/*background-image: url(http://www.redunix.nl/img/header.jpg);*/
	background-image: url(http://www.redunix.nl/landing/img/header_used_small.png);
}
div#header_alter
{
	width: 100%;
	height: 149px;
    margin-left: -1px;
	overflow: hidden;
	background-image: url(http://www.redunix.nl/img/header_alter.jpg);
}
div#header_dedicated
{
	width: 639px;
	height: 200px;
	overflow: hidden;
	background-image: url(http://www.redunix.nl/dedicated/img/header_dedicated_r200.png);
	background-repeat: no-repeat;
	background-color: #eaeaea;
	background-position: 0px 20px;
}div#header_colo
{
	width: 639px;
	height: 189px;
	overflow: hidden;
	background-image: url(http://www.redunix.nl/colocatie/img/header_colo.png);
	background-repeat: no-repeat;
	background-color: #eaeaea;
	background-position: 0px 25px;
}
div#products
{
	background-image: url(http://www.redunix.nl/img/gradient_large.jpg);
	background-repeat: repeat-x;
	height: auto;
	overflow: hidden;
}

div#product1, div#product2, div#product3, div#product4, div#product5
{
	background-image: url(http://www.redunix.nl/img/product.jpg);
	background-repeat: no-repeat;
	width: 192px;
	height: 193px;
}

div.product
{
	background-image: url(http://www.redunix.nl/img/product.jpg);
	background-repeat: no-repeat;
    vertical-align: top;
	width: 192px;
	/*height: 300px;*/
	height: 193px;
    float: left;
    padding-right: 3px;
    padding-bottom: 15px;
    margin-left: 12px;
}

div.productintro
{
    vertical-align: top;
	background-image: url(http://www.redunix.nl/img/gradient_full.jpg);
	background-repeat: no-repeat;
    vertical-align: top;
	width: 192px;
	/*height: 300px;*/
	height: 193px;
    float: left;
    padding-bottom: 15px;
    margin-right: 3px;
    margin-left: 12px;
}
div.productintro p,
div.product .subheader,
div.product .price
{
    padding-left: 16px;
    height: 10px;
}

.order
{
    padding-top: 16px;
    padding-right: 3px;
    vertical-align: bottom;
    width: 70px;
  	float: right;
}
.order A
{
  	float: right;
}
.product .price
{
    padding-top: 16px;
    vertical-align: bottom;
    width: 100px;
    float: left;
}
.tableCell
{
    padding-left: 50px;
}

div#subheader
{
	width: 100%;
	height: 146px;
	overflow: hidden;
	background-image: url(http://www.redunix.nl/img/subheader.jpg);
}

div#homecontent
{
	height: auto;
	overflow: hidden;
	width: 100%;
	background-color: white;
	background-image: url(http://www.redunix.nl/img/gradient_large.jpg);
	background-repeat: repeat-x;
	margin-top: 10px;
}

div#homesecundair
{
  	clear: both;
  	width: 100%;
  	height: 100px;
}

div#homesecundair_right
{
	background-image: url(http://www.redunix.nl/img/gradient_fill_small.jpg);
  	background-repeat: repeat-x;
  	float: right;
  	width: 315px;
  	height: 100px;
	overflow: hidden;
}

div#homesecundair_left
{
	background-image: url(http://www.redunix.nl/img/gradient_fill_small.jpg);
  	background-repeat: repeat-x;
  	float: left;
  	width: 315px;
  	height: 100px;
	overflow: hidden;
}

div#footer
{
	height: 60px;
	width: 100%;
	overflow: hidden;
	text-align: center;
	color: #b4b4b4;
}
div#footer A
,div#footer A:visited
{
	color: #b4b4b4;
}

div#spec_image
{
	float: left;
	width: 250px;
	margin-left: 2px;
}
div#spec_over
{
	float: left;
	width: 250px;
	margin-left: 20px;
}

div#spec_price
{
	float: right;
	width: 150px;
}

table#spec_table
{
    width: 620px; 
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#spec_table tr td 
{
    padding-top: 3px;
    padding-bottom: 2px;
}
table#spec_table tr th
{
    width: 224px;
    padding-left: 50px;
    text-align: left;
    font-weight: normal;
}
div.order
{
    padding-top: 5px;
    width: 100%; 
    text-align: right;
}

/*Text Markup*/
p{
	padding: 5px;
	padding-left: 10px;
}

p .text{
	padding-left: 15px;
	padding-bottom: 20px;
	line-height: 16px;
}

#homecontent table td
{
    vertical-align: top;
}
#homecontent p
{
	padding: 5px;
	padding-left: 55px;
	padding-bottom: 0;
	padding-right: 20px;
	line-height: 16px;
}
#homecontent h3,
#homecontent h2
{
    padding-top: 20px;
	padding-left: 55px;
}
#summary h2
{
    padding-left: 0px;
}

.subheader,
.price,
.order
{
    display: -moz-inline-box;
    display: inline-block;
	/*color: #910020;*/
}
.subheader
{
    width: 80px;
	color: #9b9b9c;
}

#homecontent .sub
{
    display: block;
    padding-top: 5px;
}

#summary p{
	padding: 5px;
	padding-left: 55px;
	padding-bottom: 0;
	padding-right: 20px;
	line-height: 16px;
}

#colo p{
	padding: 5px;
	padding-left: 55px;
	padding-bottom: 0;
	padding-right: 20px;
	line-height: 16px;
}

p .text2{
		padding-left: 15px;
	padding-bottom: 20px;
	line-height: 16px;
	padding: 5px;
	padding-left: 55px;
	padding-bottom: 0;
	padding-right: 20px;
	line-height: 16px;
}
#menu p
{
	margin-top: 16px;
}
actie p
{
	margin-top: 16px;
	margin-top: 10px;
	margin-left: 55px;
}
#logo_contact p
{
	margin-top: 55px;
	margin-left: 45px;
	color: #9b9b9c;
}
#footer p
{
	margin-top: 25px;
}

div#path
{
	height: 30px;
	clear: both;
}
table#prices
{
    border: none;
    width: 252px;
	margin-right: 20px;
    padding-bottom: 5px;
	background-image: url(http://www.redunix.nl/img/server_spec.jpg);
	background-repeat: no-repeat;
    background-position: 0px -30px;
	margin-top: 10px;
}

div#serverspec
{
	height: 143px;
	width: 620px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(http://www.redunix.nl/img/server_spec.jpg);
	background-repeat: no-repeat;
	margin-top: 10px;
}
.table{
	margin-left: 55px;
}
.tableHead
{
	background-color: #eaeaea;
	color: #910020;
	font-weight: bold;
}

#landing h1
{
	font-size: 24px;
	padding-top: 1px;
	padding-left: 10px;
}

h1,
p.menuHeader {
	font-size: 16px;
	color: #910020;
	padding-top: 12px;
	padding-left: 200px;
    padding-bottom: 8px;
}
#actie h1{
	font-size: 12px;
	color: #910021;
	padding-top: 5px;
	padding-left: 55px;
}
h5.sub 
{
	font-size: 11px;
	color: #910021;
	font-weight: normal;
	padding-left: 55px;
}
h2
{
	font-size: 12px;
	color: #910021;
	padding-top: 5px;
	padding-left: 10px;
	text-transform: uppercase;
}
h3
{
	font-size: 12px;
	color: #910021;
	padding-top: 5px;
	padding-left: 10px;
}
h3 img,
h2 img
{
    margin-right: 6px;
}
h4
{
	font-size: 13px;
	color: #FFF;
	padding-top: 5px;
	padding-left: 15px;
    padding-bottom: 7px;
}
h4 a,
h4 a:visited,
h4 a:hover,
h4 a:link,
h4 a:active 
{
	color: #FFF;
    text-decoration: none;
}
.rightalign
{
	text-align: right;
}
.line
{
	background-color: #EFEFEF;
}

td p
{
	padding-top: 3px;
	padding-bottom: 3px;
}
h6
{
	font-size: 16px;
	color: #910021;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left:10px;
}
div#summary
{
	height: auto;
	overflow: hidden;
	background-color: white;
	background-image: url(http://www.redunix.nl/img/gradient_large.jpg);
	background-repeat: no-repeat;
}	
td.rightalign
{
	color: #910020;
}
a:link
{
	color: #910020;
	text-decoration: none;
}
a:hover
{
	color: #910020;
	text-decoration: underline;
}
a:visited
{
	color: #910020;
	text-decoration: none;
}
a:active
{
	color: #910020;
	text-decoration: none;
}

.clear
{
	clear: both;
}

#right li
{
	margin-left: 20px;
	padding-left: 5px;
	list-style-type: disc;
}

#right ul
{
	margin-left: 20px;
	padding-left: 5px;
	list-style-type: arrow;
}

li
{
    margin-left: 20px;
    padding-left: 5px;
    list-style-type: disc;
}

ul
{
    margin-left: 20px;
    padding-left: 5px;
    list-style-type: arrow;
}
#homecontent ul
{
	
	padding-left: 40px;
}

#devide
{
	height: 20px;
	padding-top: 7px;
}

div.frontpage
{
	display: none;
	left: 445px;
	top: 460px;
	width: 640px;
	height: 600px;
	background-image: url(http://www.redunix.nl/img/gradient_huge.jpg);
        background-repeat: no-repeat;
}

div#tabs
{
	background-image: url(http://www.redunix.nl/img/gradient_fill_large.jpg);
	height: 20px;
	padding-top: 7px;
}
div#tabs A
{
	display: inline-block;
	width: 30px;
	height: 20px;
	background-image: url(http://www.redunix.nl/img/tab.png);
        background-repeat: no-repeat;
	padding-left: 20px;
	font-weight: bold;
	font-size: 16px;
}

